@import "../../bower_components/normalize.css/normalize.css";

$landscapePhone: 736px;
$portraitPhone: 414px;

$landscapeTab: 1024px;
$portraitTab: 768px;

@mixin portrait() {
    @media screen and (orientation:portrait) { @content; }
}

@mixin landscape() {
    @media screen and (orientation:landscape) { @content; }
}

@mixin breakpoint-width($min, $max : 0) {
    @if ($max == 0) {
        @media only screen
            and (min-width: $min) { @content; }
        } @else {
            @media only screen
            and (min-width: $min)
            and (max-width: $max - 1) { @content; }
    }
}

@mixin breakpoint-height($min, $max : 0) {
    @if ($max == 0) {
        @media only screen
        and (min-height: $min) { @content; }
    } @else {
        @media only screen
        and (min-height: $min)
        and (max-height: $max - 1) { @content; }
    }
}

@mixin orientation($args...) {
    @include portrait {
        @include breakpoint-width($args...) {
            @content;
        }
    }
    @include landscape {
        @include breakpoint-height($args...) {
            @content;
        }
    }
}

@keyframes showBack {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: transform 0.5s opacity 0.5s;
    animation: showBack 0.5s ease-out;
    overflow: hidden;
    
    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/background.jpg");
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;

        @media screen and (orientation:portrait) {
            background-position: 67% 50%;
        }
    
        @media screen and(orientation:landscape) {
            background-position: 100% 50%;
            height: 79vw;
        }
    }

    &__color {
        background-color: rgba(15,14,12,.54);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__shadow {
        background-image: url('../img/shadow.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .41;
    }
}

header {
    .container-fluid.text-block {
        top: 0;
    }
}

footer {
    .container-fluid.text-block {
        position: fixed;
        bottom: 0;
    }
}

.container-fluid.text-block {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.32);
    opacity: 0;
    transition: .3s;

    p {
        font-size: 1.56vw;
        color: #fff;
        line-height: 2vw;
        text-align: center;
        padding-top: 1rem;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

#progress {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    // &.hide {
        display: none;
    // }

    &.show {
        display: flex;
    }
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

main {
    
    @media screen and (orientation:portrait) {
    
        @media screen and (min-width: 320px) {
            display: flex;
            align-items: center;
            height: 100vh;
        }
    
    }

    @media screen and (orientation:landscape) {
        @media screen and (min-width: 480px) {
            display: flex;
            align-items: center;
            height: 100vh;
        }    
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;

        @media screen and (orientation:landscape) {
            
            @media (max-width: $landscapePhone) {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 100%;
            }

        }

        @media (min-width: 1366px) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
        }
    }
}

.container {

    @media screen and (orientation:landscape) {
        margin-top: 0;
        // margin-bottom: 50px;            
            
        @media (max-width: $landscapePhone) {
            
            div:first-child {
                grid-row: 1/4;
            }
            
        }               
        
        @media (min-width: 1366px) {
            
            div:first-child {
                grid-row: 1/4;
            }
        }
    }
    
    .logo {
        text-align: center;   
        
        &__text {
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 0px 2px 4px rgba(0,0,0,.35);
            span {
                display: block;
            }
            span:first-child {
                // font-size: 51px;
            }
            span:last-child {
                // font-size: 40px;
                letter-spacing: 115 * 0.001em;
                // line-height: 1.5rem;
            }
        }

        @media screen and (orientation:portrait) {

            @media (min-width: $portraitTab) {
                margin-top: 104px;
                margin-bottom: 131px;
                width: 230px;

                &__text {
                    span:first-child {
                        font-size: 6.8vw;
                        line-height: 8vw;
                    }
                    span:last-child {
                        font-size: 5.3vw;
                        line-height: 5vw;
                    }
                }
            }

            @media (min-width: 1024px) {
                margin-top: 165px;
                margin-bottom: 131px;
                width: 310px;
            }

            @media (max-width: $portraitPhone) {
                margin-top: 0;
                margin-bottom: 0;
                width: 100%;

                &__text {
                    span:first-child {
                        font-size: 12vw;
                        line-height: 13vw;
                    }
                    span:last-child {
                        font-size: 9.2vw;
                        line-height: 9vw;
                    }
                }
            }
        }
    
        @media screen and (orientation:landscape) {
            
            @media (min-width: $landscapeTab) {
                margin-top: 104px;
                margin-bottom: 30px;
                width: 308px;

                &__text {
                    span:first-child {
                        font-size: 6.8vw;
                        line-height: 8vw;
                    }
                    span:last-child {
                        font-size: 5.3vw;
                        line-height: 5vw;
                    }
                }

                &__tagline {
                    font-size: 2.83vw!important;
                }
            }

            @media (min-width: 1366px) {
                margin-top: 0;
                margin-bottom: 30px;
                // width: 410px;
                width: 100%;

                &__text {
                    span:first-child {
                        font-size: 5vw;
                        line-height: 8vw;
                    }
                    span:last-child {
                        font-size: 4vw;
                        line-height: 1vw;
                    }
                }

                &__tagline {
                    font-size: 2.2vw!important;
                }
            }
                
            @media (max-width: $landscapePhone) {
                
                grid-row: 1/4;

                &__text {
                    span:first-child {
                        font-size: 7vw;
                    }
                    span:last-child {
                        font-size: 5.5vw;
                        line-height: 3vw;
                    }
                }

                &__tagline {                 
                    font-size: 3vw!important;
                    line-height: 6vw;
                }
                
            }               
            
        }

        &__tagline {
            font-weight: bold;
            color: #ff6000;
            letter-spacing: 20 * 0.001em;
            font-size:18px;
            font-size: 1.35rem;
            text-shadow: 0px 2px 4px rgba(0,0,0,.35);
            line-height: 6vw;
        }
    }

    h3 {
        color: #fff;
        font-size: 26px;
        letter-spacing: 20 * 0.001em;
        text-shadow: 0px 2px 4px rgba(0,0,0,.71);
        text-align: center;

        @media screen and (orientation:portrait) {
            @media (max-width: $portraitPhone) {
                font-size: 4vw;
            }
        }

        @media screen and (orientation:landscape) {
            @media (max-width: $landscapePhone) {
                font-size: 3vw;
                margin-top: 4vw;
            }

            @media (min-width: 1366px) {
                margin-top: 47px;
            }
        }
    }

    .reed-recipe {
        &__btn {
            font-weight: bold;
            color: #fff;
            background-color: #d45000;
            text-transform: uppercase;
            font-size: 30px;
            padding: 50px 0;
            margin: 30px 0 30px;

            @media screen and (orientation:portrait) {                
                @media (max-width: $portraitPhone) {
                    padding: 5vw 0;
                    margin: 4vw 0 6vw;
                    font-size: 5vw;
                }
            }

            @media screen and (orientation:landscape) {
                @media (max-width: $landscapePhone) {
                    font-size: 3vw;
                    padding: 4vw 0;
                    margin: 1vw 0 3vw;

                    &__img {
                        height: 2.5vw;
                    }
                }
            }

            @media screen and (orientation:landscape) {
                @media (min-width: 667px) {
                    font-size: 2vw;
                    padding: 4vw 0;
                    margin: 1vw 0 3vw;

                    &__img {
                        height: 2.5vw;
                        padding-left: 2vw;
                    }
                }
            }
        }

        &__img {
            padding-left: 30px;
            @media screen and (orientation:portrait) {
                @media (max-width: $portraitPhone) {
                    height: 6vw;
                    padding-left: 6vw;
                }
            }

            @media screen and (orientation:landscape) {
                @media (max-width: $landscapePhone) {
                    height: 4vw;
                }
            }
        }
    }

    .cancel {
        >div {
            text-align: center;
        }
        &__btn {
            font-size: 12px;
            color: #fff;
            background: transparent;
            border:2px solid #fff;
            border-radius: 0;
            padding: 10px 0px;
        }
    }
}