<footer>
    <div class="container-fluid text-block">
        <div class="container">
            <p>
                Информация для абонентов - тел. 8 800 333-89-81 (бесплатно в домашнем регионе) |<br> <a href="#">Правила подписки поставщика услуг</a> | <a href="#">Личный кабинет</a>
            </p>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="./assets/js/bootstrap/bootstrap.js"></script>
</footer>