<header>
        <div id="progress">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>

        <div class="background">            
            <div class="background__shadow"></div>
            <div class="background__color"></div>
            <div class="background__image"></div>
        </div>

        <div class="container-fluid text-block">
            <div class="container">
                <p>
                    Нажатием на кнопку "Читать рецепт" Вы подтверждаете свое согласие с подключением подписки SUBNAME и <a href="#">Условиями предоставления подписки</a>. Стоимость подписки SUBPRICE. ACCOUNT. Услуга предоставляется Контент-провайдером PROVIDER.
                </p>
            </div>
        </div>
</header>